extends layout

block content
  h4= 'Congrats!'
  hr(class='my-4')
  p
  | You have successfully deployed your app in your Slack Enterprise Grid.
  p
  | If you have not deploy your AFQ Member Slack connector in your AWS account, click on this link to deploy.
  p
  a(href=launch_template_url, target='_blank')
    img(src='./images/cloudformation-launch-stack.png',alt='Launch')
  p
  | <i>This sample AWS Cloudformation template supports the  "us-east-1" region only.</i>
  p
  h4= 'Your AWS Secrets Manager secret:'
  p
  table(class='table')
    tbody
        tr
          td='NAME:'
          td=secret_info.Name
        tr
          td='ARN:'
          td=secret_info.ARN
        tr
          td="VERSION:"
          td=secret_info.VersionId
