extends layout

block content
  h4= 'Congrats!'
  | You have deployed your app in your Slack Enterprise grid.
  p
  | Click on this link to deploy your custom AWS Athena Federated Query Connector. This sample only supports the "us-east-1" region.
  a(href=launch_template_url, target='_blank')
    img(src='./images/cloudformation-launch-stack.png',alt='Launch')
  hr(class='my-4')
  h4= 'Your AWS Secrets Manager secret:'
  p
  table(class='table')
    tbody
        tr
          td='NAME:'
          td=secret_info.Name
        tr
          td='ARN:'
          td=secret_info.ARN
        tr
          td="VERSION:"
          td=secret_info.VersionId
